* {
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
}

li {
    font-size: 35px;
    font-weight: bold;
    color: green;
}

.back {
    font-size: 25px;
    font-weight: bold;
    color:red;
}