
body {
    color: aqua;
    background-color: beige;
}
li {
    color: aqua;
    font-weight: bold;
    border: 5px solid yellowgreen;
    padding: 5px;
    margin: 5 px;
    width: max-content;
}

h1{
    color: rgb(0, 129, 129);
    font: 500;
}
h2{
    color: rgb(4, 95, 95);
    font: 500;
}
h3{
    color:black;
}